/*  your css code here. If applicable */
*{
    margin: 0;
    padding: 0;
    font-family: Arial, Helvetica, sans-serif;
}

body
{
    background-color: #f8f8f8;
}

.book-library{
    background-color: #ffffff;
    text-align: center;

}

.book{
   text-align: center;
   margin-top: 20px;
   margin-bottom: 20px;
}
.author>p{
    text-transform:uppercase;
    font-size: small;
    color:rgb(95, 72, 72);    
}

div.author{
    text-align: left;
    margin-left: 20px;
	background-color:rgb(46, 204, 113);
	color:rgb(0,0,0);
}

.author>h2{
	color:#777777;
/* 	background-color:rgb(255, 255, 255); */
}
.author>p{
	color:#2ecc71;
/* 	background-color:rgb(255,255,255); */
}

.price{
    background-color: rgb(91, 238, 91);
    margin-inline: 10px;
	
}